@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.paper {
  font-family: "Patrick Hand", cursive;
  position: relative;
  line-height: 25px;
  box-sizing: content-box;
  background-color: black;
  margin: 0 auto;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s,
    margin 0.3s;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgba(255, 0, 0, 0.3);
    margin-left: 48px;
    z-index: 2;
  }

  .lines {
    top: 50px;
    position: relative;
    box-sizing: content-box;
    height: 100vh;
    padding-right: 8px;
    padding-left: 56px;
    background-image: repeating-linear-gradient(
      light-dark(black, white) 0px,
      light-dark(black, white) 23.5px,
      steelblue 25px
    );

    ul {
      margin: 0;
    }
  }
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5em;
  color: inherit;
  cursor: pointer;
}

li:hover .btn-delete {
  opacity: 0.3;
}

.btn-delete {
  color: red;
  opacity: 0;
  &:hover {
    opacity: 1 !important;
  }
}

.btn-add {
  color: green;
}



.container {
  display: flex;
  justify-content: space-between;
}
