<div class="paper">
  <div class="lines">
    <br />
    <strong>Decide For Me</strong>
    <div class="container">
      <section>
        <p>O que fazer?</p>
        <ul id="things-to-do">
          @for (thingToDo of thingsToDo(); track $index) {
            <li>
              {{ thingToDo.name }} ({{ thingToDo.duration }})
              <button
                class="btn-delete hidden"
                (click)="deleteThingToDo(thingToDo)"
              >
                remover
              </button>
            </li>
          }
          <li>
            <input type="text" placeholder="texto, duração" #thingInput />
            <button
              class="btn-add"
              (click)="createThingToDo(thingInput.value); thingInput.value = ''"
            >
              adicionar
            </button>
          </li>
        </ul>
        <button class="btn-decide" (click)="selectRandomThingToDo()">decidir</button>
        @if (randomThingToDo()) {
          <p id="random-thing-to-do">
            {{ randomThingToDo()?.name }} ({{ randomThingToDo()?.duration }})
          </p>
        }
      </section>
      <section>
        <p>histórico</p>
        <ul id="history">
          @if (historyOfRandomThingsToDo()) {
            @for (
              thingToDo of historyOfRandomThingsToDo()
                | slice: 0 : thingsToDo().length;
              track $index
            ) {
              <li>
                {{ thingToDo.name }} ({{ thingToDo.date | date: "medium" }})
              </li>
            }
          }
        </ul>
      </section>
    </div>
  </div>
</div>
